<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliindustries.groceryshoppinglist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".itemunpaid"
            android:parentActivityName=".moneyspentactivity"
            ></activity>
        <activity android:name=".itempaid"
            android:parentActivityName=".moneyspentactivity"
            />
        <activity
            android:name=".moneyspentactivity"
            android:label="Weekly spend"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".notificationactivity"
            android:label="Notifications"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".createaccount"
            android:label="Create account"
            android:parentActivityName=".ui.login.loginscreen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.login.loginscreen"
            android:label="@string/title_activity_loginscreen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".splashscreen"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemActivity"
            android:configChanges="orientation|screenSize"
            android:label="Add Item"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".createList"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true" />
        <receiver
            android:name=".SpendReceiver"
            android:enabled="true" />
    </application>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>